body {
    background: url("https://media.istockphoto.com/id/633114032/photo/happy-smiling-man-giving-thumbs-up.jpg?s=612x612&w=0&k=20&c=scmM6DY6mPrOa5zN_O_DjeQ6OEOIZBWUMxexooxhgq8=") no-repeat center center fixed;
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}