
body {
  background: radial-gradient(circle, #070d22, #221b50);
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#board {
  width: 900px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.paddle {
  background-color: white;
  width: 20px;
  height: 90px;
  border-radius: 15px;
  position: absolute;
}

#leftPaddle {
  left: 10px; 
  top: 200px;
}

#rightPaddle {
  left: 870px; 
  top: 200px;
}

#leftScore{
  position: absolute;
  left: 450px; 
  top: 455px;
  font-size: 50px;
}

#rightScore{
  position: absolute;
  left: 1450px; 
  top: 455px;
  font-size: 50px;
}

#Title{
  position: center;
  left: 500px; 
  top: 0px;
  font-size: 150px;
}

#ball {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 430px; 
  top: 230px;
}